@page "/getintouch"

@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center border">
  <div class="display-6 mb-3">Contact</div>
  <div class="lead">
    <p><i class="fa fa-phone"></i> ALO 120 BTK Akademi bilgi ve destek hattı</p>
    <p>
      <i class="fa-solid fa-address-book"></i> Bilgi Teknolojileri ve İletişim
      Kurumu Eskişehir Yolu 10.Km No: 276 Posta Kodu: 06530 Çankaya/Ankara
    </p>
    <p>
      <i class="fa-solid fa-envelope"></i> destek@btkakademi.gov.tr
    </p>
  </div>
</div>

