<footer class="p-3 my-4 bg-light border-top">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="text-center">
          <i class="fa-solid fa-shop fa-2xl text-secondary"></i>
          <div class="lead mt-2">
            BTK Akademi <br/> Store App
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-center text-muted my-3">
          &copy; 2023 <br/> BTK Akademi ASP.NET Core MVC Egitimi
        </div>

        <div class="text-center">
          <div class="btn-group">
            <a class="btn btn-secondary">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="btn btn-secondary">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="btn btn-secondary">
              <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="btn btn-secondary">
              <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="btn btn-secondary">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div latest-products="" number="3"></div>
      </div>
    </div>
  </div>
</footer>
